*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
}

.one{
    height: 5vw;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2vw;
    background-color: white;
}

.ttt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
#res{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#btn{
    font-size: 2vw;
    padding: 1vw 2vw;
    border-radius: 1vw;
    background-color: greenyellow;
    border: none;
}
#btn:hover{
    transform: scale(0.95);
}